/* REAPROVEITANDO CLASSE DA STYLE.CSS  */
.quem-somos .container {
    flex-direction: column;
    background-color: rgba(4, 5, 36, 1);
    padding: 10px;
    width: 90%;
    max-width: 1440px;
    padding: 30px;

}


/* Estilizando cabecalho do dashboard */
.header-dash {
    width: 100%;
    display: flex;
    justify-content: center;

    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    padding: 30px 20px;
    border-radius: 10px;
}

.mensagem h2 {
    font-size: 1.4em;
}

.mensagem p {
    font-size: 0.8em;
}

.return img{
    width: 40px;
    vertical-align: middle;
}

/* Reutilizando classes que foram criadas na dasboard.css  */
.kpi-temperatura-umidade {
    text-align: center;
    width: 100%;
}

.caixa-kpi {
    width: 100% !important;
    margin: 0 0 10px 0 !important;
    
}
/*FIM  */

/* 
CRIANDO CONTAINER PARA COLOCAR OS GRÁFICOS DE TEMPERATURA E UMIDADE. USANDO PROPRIEDADE PARA DEFINIR ITEMS EM GRADE FACILITANDO COLOCAR OS GRÁFICOS LADO DE DOIS EM DOIS (DISPLAY GRID) */

.metricas-racks {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    width: 100%;
}

.square-rack {
    border-radius: 10px;
    background-color: #1F1B3F;
}

.square-rack h2 {
    padding: 15px;
}

.description-square {
    border-radius: 10px 10px 0 0;
    font-size: 1.3em;
    padding: 10px;
    background-color: #212121;
}

.rack {
    padding: 20px;
}


.rack canva {
    width: 100px !important;
    height: 5vh !important;
    background-color: #1F1B3F;
}