/* FONTE PADRÃO DO SITE  */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
/*  */


/* RESETAR A ESTILIZAÇÃO PADRÃO NOS NAVEGADORES PARA NÃO OCORRER BUGS NA ESTILIZAÇÃO  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
  font-family: 'Oxanium', cursive;
  background: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #2e3192 #010005;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #010005;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e3192;
  border-radius: 10px;
  border: 3px solid #010005;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
a {
  font-size: 1rem;
}

/*  */