/* estilização do Nossos serviços */
.banner {
  background-image: url('../img/Background2.jpg');
}

.content-img img{
  width: 470px;
  margin: auto;
  display:block;
}

.content-text {
  flex: 1;
}

.content-text h2 {
  text-align: center;
}

.content-text p{
  font-weight: 200;
  text-align: justify;
}


