/* Simulador financeiro  */

.simulador-financeiro {
    width: 100%;
    padding: 60px 0;
    background-image: url("../img/Background2.jpg");
    background-size: cover;
}

.simulador-financeiro .container {
    flex-wrap: wrap;
    max-width: 2000px;
}

.simulador-financeiro .container-solucao {
    flex-direction: column;
}

.content-img img {
    display: block;
    width: 500px;
}

.content-text h2 {
    text-align: center;
}


/* Estilização dos campos do input  */

.campos {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 25px;
}

.label-simulador {
    font-size: 1em;
    margin-bottom: 10px;
}


input {
    background-color: rgb(247, 244, 244);
    border-radius: 07px;
    padding: 07px 12px;
    color: black;
}


/*  */

.form-1 {
    display: block;
}

.form-1 .btn {
    padding: 10px 25px;
    margin-top: 10px;
}


/* ESTILIZAÇÃO DO RESULTADO DA SIMULAÇÃO  */

.content-simulador {
    margin: auto;
    display: flex;
    width: 80%;
    min-height: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    background-color: rgba(0, 0, 0, .2);
}

.content-simulador .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: max-content;
}

.indicadores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    min-height: 500px;
}

.indicadores h1 {
    background-color: #252527;
    border-radius: 10px;
    font-size: 1.6rem;
    padding: 0.3rem 1.2rem;
    margin-top: 15px;
    font-weight: 600;

}

.legenda {
    display: flex;
    align-items: center;
}

.legenda img {
    margin-right: 10px;
    width: 30px;
}

.prejuizo {
    color: red;
}

.economia {
    color: #3bd42c;
}

.indicador {
    min-width: 230px;
    width: max-content;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .7);
}

.title {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.title h2 {
    font-size: 1.2rem;
}

.title img {
    width: 30px;
}

.indicador h2 {
    display: flex;
    align-items: center;
}

.number {
    padding: 10px;
    background-color: #252527;
    border-radius: 10px;
    font-size: 1.4em;
}



.content-legenda {
    margin: auto;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .2);
}

.content-legenda .container {
    display: flex;
    width: 80%;
    margin: 30px auto;
    align-items: flex-start;

}

.content-legenda .container p {
    line-height: 1.6;
    margin: 6px 0;
}

.content-legenda .container span {
    font-weight: 800;
}

 /* transição */
 .hide {
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.appear {
    opacity: 1;
    transition: opacity 500ms ease-out;

}

/*  */


#container_simulador .btn-refazer {
    margin: 30px auto auto auto;
}


/*Fim simulador financeiro  */


