/* CABECALHO / MENU  */
.header {
  width: 100%;
  background-color: #070330;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container {
  padding: 10px 50px;
}

.container img {
  width: 100%;
}

.list-items {
  display: flex;
}

.list-items li {
  padding: 0 10px;
}

.list-items li a {
  font-size: 1.2rem;
}

.list-items li::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background-color: aliceblue;
  transition: 0.4s;
}

/* TRANSIÇÃO NOS ITEMS DA NAVBAR */
.list-items li:hover::after {
  width: 100%;
}

/*  */
  /*FIM CABECALHO / NAVBAR  */

/* BANNER / PRIMERIA SESSÃO DO SITE  */
.banner {
  width: 100%;
  background-image: url('../img/Background.jpg');
  background-size: cover;
  padding: 30px 0;
}

.banner .container {
  flex-wrap: wrap-reverse;
}

.content-img {
  flex: 1;
}

  /* EFEITO DA IMAGEM DO NOTEBOOK SEM MEXER  */
.content-img img:hover {
  transform: translate(0, -10px);
  transition: 1s; 
}

.content-img img {
  transition: 1s;
  width: 600px;
  margin: auto;
}

.content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-text h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 500;
}

.content-text p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.btn {
  width: max-content;
  font-size: 1rem;
  padding: 15px 20px;
  background-color: #2e3192;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* EFEITO DE SUMIR A COR DO BOTÃO */
/* EFEITO DE AUMENTAR A ESCALA DO BOTÃO */
.btn:hover {
  background-color: #2e3192;
  transform: scale(1.05, 1.05);
}

/* EFEITO DE DIMINUIR A ESCALA DO BOTÃO AO CLICAR */
.btn:active {
  transform: scale(0.95, 0.95);
}

/* FIM PRIMEIRA SESSÃO */

/* Quem somos  */
.quem-somos {
  width: 100%;
  padding: 60px 0;
  background-image: url("../img/Background2.jpg");
  background-size: cover;
}

.quem-somos .container {
  flex-wrap: wrap;
}

.quem-somos .content-text {
  flex: 1;
  min-height: 550px;
  max-height: auto;
  align-items: center;
  justify-content: center;
}

.quem-somos .content-img {
  flex: 1;
}

.quem-somos .content-img img {
  width: 500px;
}

/* FIM DOQUEM SOMOS */

/* INÍCIO DO FOOTER */
footer{
  background-color: #0B0333;
  padding: 20px 0;
}

.content-footer{
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.content-footer img{
  width: 90px;
}

.links h2{
  font-size: 1.5em;
  margin-bottom: 10px;
}

.links li{
  margin-bottom: 8px;
  font-size: 0.90em;
}
.social-media h2{
  margin-bottom: 20px;
  font-size: 1.5em;
}

.social-media h3{
  font-size: 1.5em;
  margin: 10px 0;
}
.social-img img{
  width: 30px;
  margin-bottom: 20px;
}

.direitos p{
  font-size: 0.80em;
  text-align: center;
}

.a-destaque {
  font-weight: bold;
}

/* estilização do Nossos serviços */
.Nossos-servicos {
  width: 100%;
  padding: 60px 0;
  background-image: url('../img/Background2.jpg');
  background-size: cover;
}


.Nossos-servicos .content-img img{
  width: 470px;
  padding: 40px 0 ;
  margin: auto;
  display:block;
}

.Nossos-servicos .content-text {
  flex: 1;
}

.Nossos-servicos .content-text h2 {
  text-align: center;
}

.Nossos-servicos .content-text p{
  font-weight: 200;
  text-align: justify;
}

.Nossos-servicos .container{
  flex-wrap: wrap;
}

.sucess{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-shadow: 2px 2px 4px black;
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,.6);
  border: 1px solid black;
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.sucess h2{
  color: #fff;
  font-size: 2em;
}

.loading{
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.loading h2{
  font-size: 2em;
  font-weight: 400;

}
@keyframes animation {
  0%{
      transform: translateX(-30px);
      width:20px;
      height: 20px;
  }
  50%{
      transform: translateX(0px);
    width: 40px;
    height: 40px;
  
  }
  100%{
      width: 20px;
      height: 20px;
      transform: translateX(30px);
  }
}


.loading::after{
  content: '';
  display: block;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  height: 20px;
  animation:1.5s animation infinite alternate ;
}